- class_name = "#{issuable_type.dasherize}-export-modal"
- if current_user
  .modal.issuable-export-modal{ class: class_name }
    .modal-dialog
      .modal-content{ data: { qa_selector: "export_issuable_modal" } }
        .modal-header
          %h4.gl-m-0
            = _("Export %{issuable_type}" % { issuable_type: issuable_type.humanize(capitalize: false) })
          %button.close{ type: "button", "data-dismiss": "modal", "aria-label" => _('Close') }
            = sprite_icon('close', css_class: 'gl-icon')
        .modal-body
          - issuable_count = issuables_count_for_state(issuable_type.to_sym, params[:state])
          - unless issuable_count == -1 # The count timed out
            .modal-subheader
              = sprite_icon('check', css_class: 'gl-icon gl-color-green-400')
              %strong.gl-ml-3
                - if issuable_type.eql?('merge_requests')
                  = n_("%{count} merge request selected", "%{count} merge requests selected", issuable_count) % { count: issuable_count }
                - else
                  = n_("%{count} issue selected", "%{count} issues selected", issuable_count) % { count: issuable_count }
          .modal-text
            = html_escape(_('The CSV export will be created in the background. Once finished, it will be sent to %{strong_open}%{email}%{strong_close} in an attachment.')) % { email: @current_user.notification_email, strong_open: '<strong>'.html_safe, strong_close: '</strong>'.html_safe }
        .modal-footer
          - if issuable_type.eql?('merge_requests')
            = link_to _("Export merge requests"), export_csv_project_merge_requests_path(@project, request.query_parameters), method: :post, class: 'btn gl-button btn-confirm', data: { track_label: "export_merge_requests_csv", track_event: "click_button", track_value: "" }
          - else
            = link_to _('Export issues'), export_csv_project_issues_path(@project, request.query_parameters), method: :post, class: 'btn gl-button btn-confirm', data: { track_label: "export_issues_csv", track_event: "click_button", track_value: "", qa_selector: "export_issues_button" }
